<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="/" method="POST">
        <div class="centro">
            <h1>Login</h1>
            <br>
            <p>Gmail: <input name="gmail" type="email"></p>
            <p>Senha: <input name="senha" type="password"></p>
            <br>
            <div class="bnt">
                <button type="submit">Entrar</button>
            </div>
            <br>
        </div>
        <div class="cad">
            <p>Ainda não tem conta? <a href="/cadastro">Click aqui para se cadastra</a></p>
        </div>
    </form>
</body>
</html>