<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="/" method="POST">
        <main>
            <div class="centro">
                <h1>Login</h1>
                <br>
                <center>
                <p>Gmail: <input name="gmail" type="email" id="nome-box" class="input"></p>
                <p>Senha: <input name="senha" type="password"></p>
                <br>
                <div class="mvbnt">
                    <button type="submit" class="bnt">Entrar</button>
                </div>
                <br>
                </center>
                <div class="cad">
                    <p>Ainda não tem conta? <a href="https://api.whatsapp.com/send/?phone=558288028922&text&type=phone_number&app_absent=0">Fale conosco</a></p>
                </div>
                <br>
                <p>ler os <a href="/termosdeprivacidade">termos de privacidade</a></p>
                <p>ler os <a href="/termosdelicensa">termos de licensa</a></p>
            </div>
        </main>
    </form>
</body>
</html>