<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="termosdelicensa" method="POST"></form>
        <main>
            <div class="centro">
                <a href="/">
                    <button type="submit">voltar</button>
                </a>
                <br>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, laboriosam labore! Veritatis a molestias unde explicabo velit architecto. Illo, rem consequuntur ratione itaque nesciunt sunt maiores rerum voluptas in. Soluta.</p>
            </div>
        </main>
    
</body>
</html>