<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>login</title>
</head>
<body>
    <form action="/" method="POST">
        <main>
            <form>
                <div class="nomeLogin">
                    <h1>Login</h1>
                </div>
                <div class="erros">
                    <p>Senha ou email errados, porfavor tentar novamente Ainda não tem conta? <a href="/cadastro">Cadsatrar</a></p>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" name="gmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" name="senha" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Ver senha</label>
                </div>
                <div class="btnConfirmar">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
                <br><br>
                <div class="informacao">
                    <p class="p1">Ler os <a href="/termosdeprivacidade">Termos de Privacidade</a></p>
                    <p class="p2">Ler os <a href="/termosdelicensa">Termos de Licensa</a></p>
                    <p class="p3">Aperte aqui para <a href="/cadastro">Cadastrar</a></p>
                </div>
            </form>
        </main>
    </form>
</body>
</html>